.login-container {
  display: flex;
  height: 100vh;
}

.login-left {
  flex: 1;
  padding: 1.2rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.login-left header {
  margin-bottom: 2rem;
}

.login-left h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.login-left p {
  margin-bottom: 1.5rem;
  color: #555;
}

.login-form {
  width: 100%;
}

.login-form section {
  margin-bottom: 1rem;
}
.login-container .site-logo {
  width: 100%;
  max-width: 200px;
  height: auto;
  place-self: center;
}
.term-cond {
  position: relative;
  margin: 10px 0;
  & p {
    -webkit-user-select: none;
    font-size: 14px;
    user-select: none;
    & span {
      color: var(--red);
      font-size: 14px;
      border-bottom: 1px solid var(--red);
      cursor: pointer;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}
.login-form button {
  padding: 15px;
  width: 100%;
  border-radius: 30px;
  margin-top: 20px;
  border: 1px solid #000;
  font-size: 1rem;
  transition: all ease 0.3s;
}
button.login-btn {
  background: var(--main-color);
  box-shadow: inset 0 6px 6px rgba(255, 255, 255, 0.2),
    inset 0 -6px 6px rgba(0, 0, 0, 0.15), 0 6px 12px rgba(0, 0, 0, 0.1);
  color: #fff;
  border: none;
  cursor: pointer;
  &:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
}
.login-form .register-btn {
  margin-top: 10px;
  border: 2px solid var(--main-color);
  background: #fff;
  padding: 12px;
  &:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
}

.error-msg {
  color: red;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
@media (max-width: 768px) {
  .login-container {
    flex-direction: column;
    height: auto;
  }

  .login-right {
    order: -1;
    padding: 1rem;
  }

  .login-left {
    padding: 1rem;
  }
}
