.overview-tab {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.overview-tab .overview-card {
  padding: 1rem;
  box-shadow: 0 0 2px var(--others);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background: #fff;
  gap: 1rem;
  ul {
    list-style: none;
  }
  h2 {
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
.overview-card .summary-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 0.8rem;
}
.summary-cards .card {
  padding: 1rem;
  border-radius: 8px;
  transition: all ease 0.1s;
  background: var(--light-blue-200);
  h3 {
    display: grid;
    grid-template-columns: 35px 1fr;
    align-items: center;
    margin-bottom: 0.5rem;
    font-weight: 400;
    color: #333;
    font-size: 1rem;
  }
  p {
    font-size: 1.7rem;
    font-weight: 700;
    margin-left: 35px;
  }
}
.overview-attendance-section {
  display: flex;
  gap: 1rem;
  .chart-container {
    flex: 1;
    margin: 10px 0;
  }
  .chart {
    padding: 8px;
    height: 350px;
  }
  .sections {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    color: #444;
    p {
      color: #444;
    }
  }
}
.sections .absentees {
}
.absentees,
.attendees {
  color: #444;
  hr {
    height: 1px;
    width: 100%;
    margin: 10px 0;
    margin-top: 5px;
    background: #999;
    border: none;
  }
}
.absentees-headers,
.absentee-list li,
.attendees-headers,
.attendees-list li {
  display: grid;
  grid-template-columns: 1fr 70px auto;
  align-items: center;
}
.attendees-list li,
.absentee-list li {
  padding: 10px;
  cursor: pointer;
  svg {
    cursor: pointer;
    color: var(--absent);
    font-size: 1.3rem;
  }
  .actions {
    display: flex;
    background: #6d6d6d;
    width: 50px;
    justify-content: center;
  }
  &:hover {
    background: var(--others-light);
  }
  b {
    text-align: center;
  }
}
.attendees-details,
.absentee-details {
  display: flex;
  gap: 5px;
  img {
    width: 25px;
    height: 25px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid var(--absent);
    padding: 2px;
  }
}
.attendees {
  h2 {
    color: var(--green);
  }
}
.attendees-list {
  margin-top: -1px;
}
@media (max-width: 768px) {
  .overview-attendance-section {
    flex-direction: column;
  }
}
