.groupResources {
  display: flex;
  padding: 1rem;
  background: #fff;
}

.main {
  flex: 1;
}

.main header {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-bottom: 0.7rem;
  h1 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--main-color);
    margin-bottom: 0.4rem;
    letter-spacing: -0.5px;
  }

  p {
    font-size: 1rem;
    color: #4b5563;
    max-width: 600px;
    line-height: 1.5;
    margin: 0;
    font-family: var(--font-outfit);
  }
}

header .newFolderBtn {
  padding: 0.675rem 1rem;
  background: #000;
  white-space: nowrap;
  border-radius: 12px;
  color: #fff;
  font-weight: 600;
  svg {
    font-size: 1.2rem;
  }
}

.folderCategory {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 1rem 0;
}

.folders {
  padding: 0.6rem;
  display: flex;
  gap: 0.8rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: var(--blue) transparent;
}

/* Chrome, Edge, Safari */
.folders::-webkit-scrollbar {
  height: 7px;
}

.folders::-webkit-scrollbar-track {
  background: var(--blue);
}

.folders::-webkit-scrollbar-thumb {
  background-color: var(--blue);
  border-radius: 3px;
  transition: background-color 0.3s ease;
}

.folders::-webkit-scrollbar-thumb:hover {
  background-color: var(--accent-color);
}

.folders > * {
  flex: 0 0 200px;
  scroll-snap-align: center;
}

.folder {
  padding: 1rem;
  position: relative;
  border-radius: 1rem;
  background: #fff;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.12);
  transition: transform 0.25s ease, box-shadow 0.25s ease, background 0.25s ease;
  cursor: pointer;
}

.folder:hover {
  background: linear-gradient(145deg, #e1edff, #fff);
  transform: translateY(-2px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
}

.folderOptions {
  position: absolute;
  right: 0.4rem;
  top: 0.6rem;
  color: #9ca3af;
  cursor: pointer;
  transition: color 0.2s ease;
}

.folderIcon {
  font-size: 3rem;
  color: var(--late);
}

.folder p {
  font-size: 1.05rem;
}

.folder small {
  font-size: 0.85rem;
  color: var(--gray-400);
}

.folder .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.6rem;
}

.locked {
  color: var(--gray-500);
}

.contributors {
  flex: 1;
  display: flex;
  place-content: end;
}

.contributor {
  height: 35px;
  width: 35px;
  background: var(--main-color);
  color: #fff;
  border-radius: 50%;
  border: 3px solid #fff;
  margin-left: -20px;
  cursor: pointer;
  transition: transform 0.25s ease, box-shadow 0.25s ease,
    background-color 0.25s ease;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contributor.extra {
  background: var(--accent-color);
}

.contributor:hover {
  background: var(--accent-color);
  z-index: 1;
  transform: scale(1.08) rotate(-1deg);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2), 0 0 8px var(--accent-color);
}

.folder .info {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.6rem;
  padding: 0.6rem;
  align-items: start;
  background-color: #fff7e6;
  border: 1px solid #ffe58f;
  padding: 0.75rem 1rem;
  border-radius: 8px;
  font-size: 0.85rem;
  color: #614700;
  gap: 0.75rem;
  margin: 0.5rem 0 1rem 0;
}

.infoIcon {
  font-size: 1rem;
  color: #faad14;
}

.fileDetail {
  width: 400px;
}

@media (max-width: 900px) {
  .groupResources {
    flex-direction: column;
  }
  .fileDetail {
    width: 100%;
  }
}
