.register-wrapper {
  max-width: 600px;
  margin: 40px auto;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: #fff;
}

.progress-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.step {
  flex: 1;
  text-align: center;
  position: relative;
}

.step .circle {
  width: 30px;
  height: 30px;
  margin: 0 auto;
  line-height: 30px;
  border-radius: 50%;
  background: lightgray;
  font-weight: bold;
}

.step.active .circle {
  background: #007bff;
  color: white;
}

.step.done .circle {
  background: #28a745;
  color: white;
}

.form-step input {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
}

.button-group {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.role-cards {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.role-card {
  box-shadow: 0 0 5px #311a1a94;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
  & img {
    width: 200px;
  }
  & p {
    padding: 2rem;
    text-align: center;
  }
  & .input-wrap {
    position: absolute;
    right: 0;
  }
}

button {
  padding: 10px 20px;
  background: var(--main-color);
  border: none;
  color: white;
  border-radius: 4px;
}

button:disabled {
  background: #ccc;
}

.error {
  color: red;
  font-size: 0.85em;
}
