.notification_container {
  background: #fff;
  border-radius: 8px;
  width: 100%;
  max-width: 520px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  z-index: 999;
  height: max-content;
  max-height: 100%;
  padding-bottom: 1rem;
}

.notification_header {
  background: #fff;
  padding: 16px;
  border-bottom: 1px solid #ddd;
}

.notification_header h3 {
  margin: 0 0 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
}

.tabs {
  display: flex;
  gap: 5px;
}

.tab {
  background: none;
  border: none;
  font-size: 12px;
  font-weight: 600;
  padding: 6px 12px;
  gap: 4px;
  border-radius: 6px;
  color: #444;
  cursor: pointer;
  color: #fff;
}

.tab.active {
  background: #e0f0ff;
  color: #0a84ff;
}

.notification_list {
  /* padding: 12px 16px; */
  overflow-y: auto;
  padding-bottom: 0;
}

.notification_item {
  display: grid;
  grid-template-columns: auto 1fr 50px;
  border-bottom: 1px solid #ddd;
  padding: 1rem 0.8rem;
}

.notification_item.dot {
  background: var(--blue-light);
}

.avatar {
  margin-right: 12px;
  width: 36px;
  height: 36px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.avatar img {
  background: #eee;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.notification_content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.notification_content p {
  margin: 0;
  font-size: 14px;
  color: #333;
}

.highlight {
  font-weight: 600;
  color: #000;
}

.time {
  font-size: 12px;
  color: #999;
  margin-top: 4px;
}

.file_box {
  margin-top: 6px;
  padding: 6px 10px;
  background: #fafafa;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 13px;
}

.file_box span {
  color: #555;
}

.buttons {
  display: flex;
  gap: 8px;
  margin-top: 8px;
}

.approve,
.deny {
  border: none;
  padding: 6px 12px;
  font-size: 13px;
  font-weight: 500;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.approve {
  background: #0a84ff;
  color: white;
}

.approve:hover {
  background: #006edc;
}

.deny {
  background: #eee;
  color: #333;
}

.deny:hover {
  background: #ddd;
}

.markAll {
  background: var(--green);
}

.delete {
  background: var(--red);
}

.reload {
  background: var(--main-color);
}

.empty_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 1.5rem;
  text-align: center;
  background: #f9fbfc;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.illustration {
  max-width: 240px;
  margin-bottom: 1.5rem;
  animation: float 3s ease-in-out infinite;
}

.empty {
  font-size: 0.8rem;
  color: #444;
  margin-bottom: 1rem;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
}

.more {
  display: flex;
  justify-content: end;
  position: relative;
}
.more_option {
  list-style: none;
  position: absolute;
  min-width: 160px;
  top: 25px;
  right: -8px;
  background: var(--gray-300);
  padding: 3px;
}
.more .pointer {
  position: absolute;
  top: 17px;
  width: 0;
  right: -2px;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid var(--gray-300);
}
.more_option li {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 8px;
  align-items: center;
  padding: 8px 15px;
  font-size: 13px;
  cursor: pointer;
  background: #fff;
  &:first-child {
    border-bottom: 1px solid #bbb;
  }
  &:hover {
    background: var(--main-color);
    color: #fff;
  }
}
