.dynamic-form {
  background: #fff;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 0 3px #aaa;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 10px;

  & > .title {
    display: flex;
    font-weight: 600;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
    color: #000;
    & svg {
      cursor: pointer;
      transition: 0.4s ease;
      font-size: 20px;
      &:hover {
        color: var(--main-color);
      }
    }
  }
}
.dynamic-form .contents {
  display: flex;
  flex-direction: column;
}
.dynamic-form .title.cap button {
  background: none;
  border: none;
}
.container .student-list {
  display: grid;
  column-gap: 10px;
  font-size: 14px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.student {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.student label {
  display: flex;
  align-items: center;
  gap: 5px;
}
.student svg {
  color: var(--main-color);
}
.container .all-students {
  margin: 10px 0;
  background: transparent;
  color: var(--main-color);
  border: none;
}
.container .btns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 10px;
  margin-top: 10px;
  & button {
    padding: 10px;
    justify-content: center;
    border-radius: 20px;
    border: none;
    background: var(--main-color);
    color: #fff;
    font-size: 14px;
    & svg {
      font-size: 20px;
    }
  }
}

.btns button.btn-deselect {
  background-color: #333333dc;
  color: white;
}
.selection-count {
  font-weight: 500;
  margin-bottom: 0.75rem;
  color: #333;
}
