.c-layout {
  background: #f0f0f0;
}
.c-layout .main {
  margin-top: 50px;
  margin-left: 60px;
}
.c-layout.mobile .main {
  margin-left: 0px;
}
.c-layout.is-mobile {
  & .c-sidebar-container {
    width: 0;
    .c-sidebar-left {
      width: 0;
    }
  }
}
