* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
:root {
  --main-color:
   /* #4f46e5; */ #3576ec;
  --outline: #e0e9ff;
  --light-blue-200: #e9f2ff;
  --light-blue-300: #e0e9ff;
  --red: #dc2626;
  --green: #49b583;
  --font-outfit: 'Outfit';
  --font-sen: 'Sen';
  --tag-color-blue: #4984e4;
}
body {
  font-family: var(--font-sen), sans-serif;
}
button,
input,
select {
  font-family: var(--font-outfit), sans-serif;
}
.cap {
  text-transform: capitalize;
}
