.s-dashboard {
  & hr {
    margin: 10px 0;
    border: none;
    height: 1px;
    background: #999;
  }
}
.s-dashboard-header {
  display: grid;
  grid-template-columns: 1fr 250px;
  gap: 20px;
  & section > p {
    font-weight: 600;
    font-size: 1.2rem;
    & ~ span {
      font-size: 0.9rem;
      font-style: italic;
    }
  }
}
.s-dashboard-header .curr-date {
  font-size: 14px;
  background: #fff;
  padding: 15px;
  border-radius: 12px;
  display: grid;
  grid-template-columns: 1fr 40px;
  align-items: center;
  & p {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 5px;
  }
  & svg {
    font-size: 35px;
    color: var(--main-color);
  }
}
.s-dashboard-body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 10px;
  align-items: center;
  /* justify-content: center; */
}
.info-field {
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 20px;
  padding: 15px;
  height: 100%;
  & svg {
    font-size: 20px;
    color: var(--main-color);
  }
  & button {
    padding: 7px 20px;
    border-radius: 20px;
    justify-content: center;
    place-self: end;
    color: #fff;
    background: var(--main-color);
    & svg {
      color: #fff;
      font-size: 14px;
    }
  }
  & input {
    background: var(--light-blue-300);
    outline: none;
    border: none;
    padding: 8px 15px;
    font-size: 14px;
    border-radius: 7px;
  }
}
.info-field .truncate {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 7px;
}
.s-dashboard-body-first,
.s-dashboard-body-second {
  gap: 10px;
  display: grid;
  grid-template-columns: 1fr 0.6fr;
  height: 100%;
}
.s-dashboard-body-second {
  grid-auto-flow: row;
  direction: rtl;
  justify-content: start;
  & > * {
    direction: ltr;
  }
}
.s-dashboard-body .left {
  border-radius: 20px;
  padding: 15px;
  background: #fff;
  /* max-width: 100%; */
}
.today-schedule {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.today-schedule .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--main-color);
  & span {
    padding: 8px 15px;
    color: #fff;
    font-size: 14px;
    border-radius: 20px;
    background: var(--red);
    -webkit-user-select: none;
    user-select: none;
  }
}
.today-schedule .mid {
  display: flex;
  width: 100%;
  gap: 10px;
  margin-bottom: 20px;
}
.mid .mid-left {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  & svg {
    font-size: 2rem;
    color: var(--main-color);
  }
  & h3 {
    margin: 6px 0;
  }
}
.mid-left .stat {
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  align-items: center;
  gap: 10px;
  & svg {
    font-size: 8px;
  }
  & .progress-container {
    margin-left: auto;
  }
}
.today-schedule .cap {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  background: var(--main-color);
  cursor: pointer;
  margin-top: auto;
}
.today-schedule .encourage {
  display: grid;
  grid-template-columns: auto 1fr;
  margin-top: auto;
  gap: 6px;
}
.today-schedule .view-stats {
  padding: 7px 16px;
  border-radius: 20px;
  background: var(--main-color);
  color: #fff;
}
.s-dashboard-body .right {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* width: 100%; */
  flex: 1;
}
p.time-left {
  padding: 10px;
  border-left: 3px solid var(--red);
  margin-top: 10px;
  & span {
    color: var(--red);
    font-weight: 600;
  }
}
@media (max-width: 500px) {
  .s-dashboard-body {
    grid-template-columns: 1fr;
    /* flex-direction: row; */
  }
}
@media (max-width: 600px) {
  .s-dashboard-body-first,
  .s-dashboard-body-second {
    display: flex;
    flex-direction: column;
  }
  .s-dashboard-header {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

@media (max-width: 600px) {
  .today-schedule .mid {
    flex-direction: column;
  }
}
